/*
table, th, td {
  border: 1px solid black; 
}

table {
  width:25%;
}
*/

th, td {
  border: 1px solid black; 
}

html, body{
    height:98%;
    width:98%;
    padding:5;
    margin:5;
}

tr, td {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
